<web-app>

	<servlet>
		<servlet-class>com.sdz.session.TestSession</servlet-class>
		<servlet-name>firstSession</servlet-name>
	</servlet>
	
	<servlet>
		<servlet-class>com.sdz.session.ResultatSession</servlet-class>
		<servlet-name>resultSession</servlet-name>
	</servlet>
	
			
	<servlet-mapping>
		<servlet-name>firstSession</servlet-name>
		<url-pattern>/session.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>resultSession</servlet-name>
		<url-pattern>/result.do</url-pattern>
	</servlet-mapping>
	
</web-app>
